<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-button [routerLink]="['/']">DAHUB ADMIN</button>

    <button mat-button *ngIf="username != null || (username != '')"  style="width: 100px;">{{username}}</button>
    <button mat-button  [hidden]="logged_in" style="width: 100px;" (click)="openLoginForm()" >Login</button>
    <button mat-button  [hidden]="!logged_in" style="width: 100px;" (click)="processLogout()">Logout</button>
    <button mat-button  [hidden]="logged_in" style="width: 100px;" (click)="openRegisterForm()" >Register</button>
    <button mat-button  style="width: 100px;" [routerLink]="['/helper/usage']">Aide</button>
    <button mat-button  style="width: 100px;" [routerLink]="['/helper/contact']">Contacts</button>

    <span class="app-toolbar-filler"></span>

    <mat-toolbar-row>
        <span>Plateforme de Gestion Administrative</span>
        <mat-icon class="app-top-icon">verified_user</mat-icon>
    </mat-toolbar-row>



</mat-toolbar>
