<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-button [routerLink]="['/']">DAHUB ADMIN</button>

    <button mat-button  style="width: 100px;">Username</button>
    <button mat-button  style="width: 100px;" [routerLink]="['/secure/login']">Login</button>
    <button mat-button  style="width: 100px;">Logout</button>
    <button mat-button  style="width: 100px;" [routerLink]="['/secure/register']">Register</button>

    <span class="app-toolbar-filler"></span>

    <mat-toolbar-row>
        <span>Plateforme de Gestion Administrative</span>
        <mat-icon class="app-top-icon">verified_user</mat-icon>
    </mat-toolbar-row>



</mat-toolbar>
