<!--The content below is only a placeholder and can be replaced.-->

<dahub-menu (sidenav)="sidenav.toggle()"></dahub-menu>
<mat-sidenav-container>

      <mat-sidenav #sidenav mode="side" opened="true">
          <mat-nav-list>
              <mat-list-item>
                  <h1 matLine >Dashboard</h1>
                  <button mat-icon-button>
                      <mat-icon>home</mat-icon>
                  </button>
              </mat-list-item>
  
              <mat-divider></mat-divider>
  
              <mat-list-item>
                  <h1 matLine >CNPS</h1>
                  <button mat-icon-button>
                      <mat-icon>attachment</mat-icon>
                  </button>
              </mat-list-item>
  
              <mat-divider></mat-divider>
  
              <mat-list-item>
                  <h1 matLine >DACLOUD</h1>
                  <button mat-icon-button>
                      <mat-icon>cloud</mat-icon>
                  </button>
              </mat-list-item>
  
          </mat-nav-list>
      </mat-sidenav>
      <h1>Bienvenu sur la plateforme {{name}}</h1>
  
      <h2 class="alert-success">Gérez vos administrations avec aisance</h2>
  </mat-sidenav-container>
  
  
  
  

