
<div>
  <p mat-dialog-title>{{title | uppercase}} <br/> {{message}}</p>
  <form [formGroup]="loginForm" (ngSubmit)="processLogin(loginForm.getRawValue())">
    <div class="form-group">
      <label class="control-label">{{"login:(adresse email ou nom d'utilisateur)" | uppercase}}</label>
      <input placeholder="Login" class="form-control" [formControl]="email" required size="40" autocomplete="false">
    </div>

    <div class="form-group">
      <label class="control-label">{{'Mot de passe:' | uppercase}}</label>
      <input placeholder="Mot de passe" type="password" class="form-control" [formControl]="password" required size="40" autocomplete="false">
    </div>

    <div class="row">
      <div class="col-md-2">
        <button class="form-control" mat-raised-button color="primary" (click)="dialogRef.close(true)" [disabled]="!loginForm.valid" type="submit">Connexion</button>
      </div>
      <div class="col-md-2">
        <button class="form-control" type="reset" mat-raised-button color="warn" (click)="dialogRef.close(false)">Annuler</button>
      </div>
    </div>
  </form>
</div>
