/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, material-app, mat-sidenav-container, .app-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.app-content{
  padding-left: 6px;
  margin-top: -20px;
}
mat-sidenav {
  width: 200px;
  min-height: 400px;
}

mat-icon{
  /*color: rgba(10,11,127,0.66);*/
}
